body {
    /* Elimina los márgenes predeterminados */
    margin: 0;
    /* Establece la altura igual a la altura de la ventana */
    height: 100vh; 
    /* Usa flexbox para organizar el contenido */
    display: flex;
    /* Centra los elementos horizontalmente */
    justify-content: center;
    /* Centra los elementos verticalmente */
    align-items: center; 
    /* Establece un fondo color dorado claro */
    background-color: #ffd970; 
}

.forma1, .forma2, .forma3 {
    /* Permite posicionar las formas de manera absoluta dentro del contenedor */
    position: absolute; 
}

.forma1 {
    /* Establece un fondo rojo para la forma */
    background-color: red;
    /* Define el ancho de la forma */
    width: 150px;
    /* Define la altura de la forma */
    height: 150px;
    /* Crea un círculo redondeando todos los bordes */
    border-radius: 50%; 
    /* Mueve la forma 50% de su altura hacia arriba y 50% de su ancho hacia la derecha */
    transform: translateY(-50%) translateX(50%);
}

.forma2 {
    /* Establece un fondo azul para la forma */
    background-color: blue;
    /* Define el ancho de la forma */
    width: 150px;
    /* Define la altura de la forma */
    height: 150px;
    /* Crea una forma asimétrica redondeando bordes específicos */
    border-radius: 50% 0 50% 50%;
}

.forma3 {
    /* Establece un fondo rojo para la forma */
    background-color: red;
    /* Define el ancho de la forma */
    width: 150px;
    /* Define la altura de la forma */
    height: 150px;
    /* Crea una forma asimétrica redondeando bordes específicos */
    border-radius: 50% 0 50% 50%; 
    /* Mueve la forma 50% de su altura hacia abajo y 50% de su ancho hacia la izquierda */
    transform: translateY(50%) translateX(-50%);
}